.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 36px;
}
.icon-container {
  display: inline-block;
  color: white;
}
.icon-container:hover {
  color: #d8cf9d;
}
h1 {
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
