.container {
    width: 100%;
    height: 15vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 36px;
  }
  .icon-container {
    display: inline-block;
    color: black;
  }
  .icon-container:hover {
    color: #353635;
  }
  