button {
    background-color: transparent;
    color: #999;
    border: none;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
button:active {
    color: #fff;
}
button:hover {
    color:  #fff;
}
