:host {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
    background: url('${this.image}') no-repeat center center;
    background-size: cover;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .title {
    font-size: 54px;
    line-height: 60px;
    margin: 0;
  }
  .subtitle {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
  }
  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  .arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }