.banner {
  display: block;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #333; /* Fondo por defecto si no hay imagen */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  background: none;
  color: black;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

