h1.jumbotitle {
    font-family: Raleway;
    font-size: 50px;
    line-height: 55px;
}

h2.jumbotitle {
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 28px;
}

h1 {
    font-family: "Open Sans";
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 20px;
}

p {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}